# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
AGN_env/
yolov5_venv/


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/.idea/
datasets/
/wandb/
/res/
/RT_SED_venv/
ResNet50/dataset/
ResNet50/res/

/agn_tests/data/MNIST/
/classification/dataset/test/cifar-100-python/meta
/classification/dataset/test/cifar-100-python/test
/classification/dataset/test/cifar-100-python/train
/classification/dataset/test/cifar-100-python.tar.gz
/classification/dataset/train/cifar-100-python/meta
/classification/dataset/train/cifar-100-python/test
/classification/dataset/train/cifar-100-python/train
/classification/dataset/train/cifar-100-python.tar.gz
/classification/res/config_GN.json
/classification/res/config_SGN_V8.json
/classification/res/config_SGN_V14.json
/classification/res/resnet50_SGNV141_16b_0.01lr_0.9m_32groupsize_1reclustringinarow_1e-12eps_0seed_70maxreclustring_default.tar
/classification/res/resnet50_SGNV1410_16b_0.01lr_0.9m_32groupsize_1reclustringinarow_1e-12eps_0seed_70maxreclustring_default.tar
/classification/saved_models/config_SGN_V14.json
/classification/saved_models/mobilenetv2_SGNV1420_16b_0.01lr_0.9m_32groupsize_1reclustringinarow_1e-12eps_0seed_50maxreclustring_default.tar
/classification/wandb/run-20240220_115938-gpobfabp/files/config.yaml
/classification/wandb/run-20240220_115938-gpobfabp/files/requirements.txt
/classification/wandb/run-20240220_115938-gpobfabp/files/wandb-metadata.json
/classification/wandb/run-20240220_115938-gpobfabp/files/wandb-summary.json
/classification/wandb/run-20240220_115938-gpobfabp/run-gpobfabp.wandb
/classification/wandb/run-20240221_112942-zkxsxatg/files/config.yaml
/classification/wandb/run-20240221_112942-zkxsxatg/files/requirements.txt
/classification/wandb/run-20240221_112942-zkxsxatg/files/wandb-metadata.json
/classification/wandb/run-20240221_112942-zkxsxatg/files/wandb-summary.json
/classification/wandb/run-20240221_112942-zkxsxatg/run-zkxsxatg.wandb
/classification/wandb/run-20240221_113011-x8klodj6/files/config.yaml
/classification/wandb/run-20240221_113011-x8klodj6/files/requirements.txt
/classification/wandb/run-20240221_113011-x8klodj6/files/wandb-metadata.json
/classification/wandb/run-20240221_113011-x8klodj6/files/wandb-summary.json
/classification/wandb/run-20240221_113011-x8klodj6/run-x8klodj6.wandb
/classification/wandb/run-20240221_113043-x28b3bpl/files/config.yaml
/classification/wandb/run-20240221_113043-x28b3bpl/files/requirements.txt
/classification/wandb/run-20240221_113043-x28b3bpl/files/wandb-metadata.json
/classification/wandb/run-20240221_113043-x28b3bpl/files/wandb-summary.json
/classification/wandb/run-20240221_113043-x28b3bpl/run-x28b3bpl.wandb
/classification/saved_models/config_GN.json
