setuptools
torch==1.10.0+cu122 torchvision==0.11.1+cu122 torchaudio==0.10.0+cu122 -f https://download.pytorch.org/whl/cu122/torch_stable.html
wandb~=0.14.0
numpy
argparse
pandas
matplotlib
ipython
scipy
k-means-constrained
ortools==9.3.10497
sklearn
torchsummary